<div class="container-fluid">
  <div class="header d-flex flex-row">
    <img class="img-fluid" src="https://via.placeholder.com/50" alt="">
    <h1 class="display-1">Nutritionix Testing Suite</h1>
  </div>
  <form (submit)="onSubmitForm(form)" #form="ngForm">
    <input class="form-control" name="recipe" type="text" [(ngModel)]="recipeInput">
    <button class="btn btn-primary">Submit</button>
  </form>
  <div class="results">
    <h4></h4>
    <img src="" alt="">
    <p>Calories:</p>
    <span id="calories"></span>
    <div class="macros list-group">
      <ul id="macroCategories">
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
      </ul>
      <ul id="macroResults">
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
      </ul>
    </div>
  </div>
</div>
